<div class="container-fluid">
  <h1><%= @season %></h1>

  <div class="actions mb-4">
    <%= link_to t("buttons.edit"), [:edit, @season], class: "btn btn-warning" %>
    <%= link_to t("buttons.destroy"), @season, method: :delete, data: { confirm: t('please_confirm') }, class: "btn btn-danger" %>
  </div>

  <hr>

  <% if @season.upcoming? %>
    <h2><%= Season::Suggestion.model_name.human(count: 2) %> (<%= @season.suggestions.count %>)</h2>
    <% if current_user.can_make_suggestions?(@season) %>
      <%= link_to t("seasons.add_suggestion"), new_season_suggestion_path(@season), class: "btn btn-success" %>
    <% end %>
    <!-- Liste de ses suggestions -->
    <!-- Nombre de suggestions par personne -->
  <% else %>
    <h2><%= Movie.model_name.human(count: 2) %></h2>
    <!-- Liste des films tirés -->
    <p>TODO: Liste des films</p>
    <% if @season.ongoing? %>
      <!-- Nombre de films restants -->
    <% end %>
  <% end %>
</div>
