<div class="container-fluid">
  <h1><%= @season %></h1>

  <div class="actions mb-4">
    <%= link_to t("buttons.edit"), [:edit, @season], class: "btn btn-warning" %>
    <%= link_to t("buttons.destroy"), @season, method: :delete, data: { confirm: t('alerts.please_confirm') }, class: "btn btn-danger" %>
  </div>

  <hr>

  <% if @season.upcoming? %>
    <h2><%= Season::Suggestion.model_name.human(count: 2) %> (<%= @season.suggestions.count %>)</h2>
    <div class="actions mb-4">
      <% if current_user.can_make_suggestions?(@season) %>
        <%= link_to t("seasons.add_suggestion"), new_season_suggestion_path(@season), class: "btn btn-success" %>
      <% end %>
    </div>
    <div class="row mb-4">
      <% @user_suggestions.each do |suggestion| %>
        <div class="col-md-2">
          <%= render "seasons/suggestions/suggestion", suggestion: suggestion %>
        </div>
      <% end %>
    </div>
    <% if @season.users.any? %>
      <h3><%= User.model_name.human(count: 2) %></h3>
      <ul>
        <% @season.users.each do |user| %>
          <li><%= user %> : <%= @season.suggestions.where(user_id: user.id).size %></li>
        <% end %>
      </ul>
    <% end %>
  <% else %>
    <h2><%= Movie.model_name.human(count: 2) %></h2>

    <% if @remaining_suggestions.size > 0 %>
      <div class="actions mb-4">
        <p><%= t("seasons.remaining_suggestions") %> : <%= @remaining_suggestions.size %></p>
        <%= link_to t("seasons.pick_suggestion"), pick_in_season_suggestions_path(@season), method: :post, data: { confirm: t("alerts.please_confirm") }, class: "btn btn-success" %>
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-3">
        <%= render "seasons/suggestions/suggestion", suggestion: @last_picked_suggestion unless @last_picked_suggestion.nil? %>
      </div>
      <div class="col-md-9">
        <div class="row">
        <% @picked_suggestions.each_with_index do |suggestion, index| %>
          <% next if index.zero? %>
          <div class="col-md-2">
            <%= render "seasons/suggestions/suggestion", suggestion: suggestion %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
