<div class="container-fluid">
  <h1><%= @season %> - <%= Season::Suggestion.model_name.human %></h1>
  <%= form_tag search_movies_path, method: :get, remote: true do %>
    <div class="row">
      <div class="col-md-4">
        <div class="mb-3">
          <input type="text" name="query" class="form-control" placeholder="ex: Interstellar">
        </div>

        <div class="form-actions">
          <input type="hidden" name="season_id" value="<%= @season.id %>">
          <%= submit_tag t("buttons.search"), class: "btn btn-dark" %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row" id="suggestions-list"></div>
</div>
